.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.signinForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.signinForm input{
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signinForm button{
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.githubBtn{
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}