.container{
   display: flex;
   gap :100px
}

.textContainer{
 flex: 1;
 display: flex;
 flex-direction: column;
 gap:50px;
}

.title{
   font-size: 96px;
   font-weight: bold;
}

.description{
   font-size: 20px;
   font-weight: 500;
}

.imgContainer{
   position: relative;
   flex: 1;
}

.btnContainer{
   display: flex;
   gap: 20px;
}

.btn{
   padding: 10px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn:first-child{
    background-color: var(--btn);
    color: var(--text);
}

.brands{
    position: relative;
    width: 500px;
    height: 50px;
    filter: grayscale(1);
}