.container {
    display: flex;
    
    flex-direction: column;
    gap: 20px;
}

.row {
    
    display: flex;
    flex-direction: row;
    gap :30px;
}

.col {
    display: flex;
    padding: 10px;
    border-radius: 6px;
    flex:1;
    border: 2px solid #ccc;

}   